<a id="top"></a>

<div dir="rtl" align="right">

# 📑 فهرست مطالب

- [- [داده جدولی | درس یک](#sec-1)](#sec-1)
- [- [اجزاء دیتافریم | درس دو](#sec-8)](#sec-2)
- [داده جدولی | درس یک](#sec-3)
  - [ساختن دیتا فریم از دیکشنری](#sec-4)
  - [### اجزای دیتافریم:](#sec-5)
  - [### ساختن یک سری:](#sec-6)
  - [## 🔍 Differenza chiave:](#sec-7)
  - [**ds_1**](#sec-8)
  - [**ds_2**](#sec-9)
- [اجزاء دیتافریم | درس دو](#sec-10)
- [pathlib استفاده از کتابخانه](#sec-11)
- [برای سهولت استفاده از آدرس ها](#sec-12)
  - [### دسترسی به اجزای دیتافریم:](#sec-13)
  - [بررسی کلاس ها و آبجکت های](#sec-14)
  - [کار روی فایل csv](#sec-15)
  - [- نگاشت رایج:](#sec-16)
  - [- در صورت **ترکیب داده‌های مختلف** در یک ستون:](#sec-17)
- [🧮 محاسبه فراوانی مقادیر](#sec-18)
  - [برای به دست آوردن فراوانی (Frequency) مقادیر در یک ستون از تابع value_counts استفاده می‌کنیم:](#sec-19)
  - [خلاصه‌ای از اطلاعات دیتافریم را نمایش می‌دهد:](#sec-20)
- [انتخاب تک ستون | درس چهار](#sec-21)
- [خواندن و نوشتن | درس پنج](#sec-22)
  - [موارد زیر بیشتر برای داده های استرینگ کاربرد دارند:](#sec-23)
  - [### برخی دیگر از اطلاعات آماری:](#sec-24)
- [انتخاب چند سری | درس هفت](#sec-25)
  - [برای به دست آوردن فقط چند سطر دلخواه از تعدادی ستون دلخواه:](#sec-26)
- [عملگرها | درس هشت](#sec-27)
- [تغییر نام ستون‌ها | درس نه](#sec-28)
  - [تابع زیر از یکی از سری ها به عنوان ایندکس استفاده میکند:](#sec-29)
- [حذف و اضافه کردن ستون | درس ده](#sec-30)
- [درس یازده](#sec-31)
- [حل مسئله | درس دوازده](#sec-32)
- [داده ناموجود | درس سیزده](#sec-33)
- [عبارت‌های شرطی | درس چهارده](#sec-34)
- [گروه‌بندی (groupby)| درس پانزده](#sec-35)
  - [🧠 Obiettivo di:](#sec-36)
  - [🔢 Supponiamo di avere questo DataFrame:](#sec-37)
  - [🔍 E ora eseguiamo:](#sec-38)
  - [🟢 Questo fa:](#sec-39)
  - [🔁 Quindi head(2) dentro a groupby("state") significa:](#sec-40)
  - [به من اجازه میدهد تا توابع گوناگونی را همزمان روی موضوع مورد نظرم اعمال کنم:](#sec-41)
- [کار با تاریخ | درس شانزده](#sec-42)
- [حل مسئله | درس هفده](#sec-43)
  - [تمرین:](#sec-44)
  - [Use condition in loc:](#sec-45)
  - [تمرین 2:](#sec-46)
  - [استفاده از تابع دیگر در خود پانداس:](#sec-47)
  - [###توضیح پارامترها:](#sec-48)
  - [right=False:](#sec-49)
  - [###💡 نکته امنیتی:](#sec-50)



</div>

<div dir="rtl" align="right">

# https://www.youtube.com/watch?v=yuKAOHn7uvY&list=PLnEg28Nx10WHuT0Eiom77WnXONNWmq0Wb&index=1
https://t.me/golemcourse
https://github.com/aaghamohammadi
  / aaghamohammadi  
https://github.com/aaghamohammadi/pandasclass/tree/master/data

</div>

<div dir="rtl" align="right">

# آموزش کتابخانه پانداس

</div>

<div dir="rtl" align="right">

<a id="sec-1"></a>
<a id="sec-3"></a>
## داده جدولی | درس یک  [↥ top](#top)

</div>

In [ ]:
import pandas

<div dir="rtl" align="right">

<a id="sec-2"></a>
<a id="sec-4"></a>
### ساختن دیتا فریم از دیکشنری

کلید ها در نقش نام سری ها 

 مقادیر هر کلید به صورت لیست یا تاپلی از مقدار هر سری
</div>

In [ ]:
df_1= pandas.DataFrame(
    {
        "fName": ('iman','lucia','MaryG'),
        "bornIn": ('Tehran', 'Catania', 'Catania'),
        "occupation": ("impiegato", "studente", "disoccupata")
    }
)
df_1

In [ ]:
df_2=pandas.DataFrame([[1,2,3],[2,3,4]],columns=("A","B","C"), index=(2,5))
df_2

In [ ]:
df_3=pandas.DataFrame({'name':['iman', 'hanie'], 'age':[25,24]})
df_3

<div dir="rtl" align="right">

<a id="sec-3"></a>
<a id="sec-5"></a>
### ### اجزای دیتافریم:

نام سری ها

مقادیر هر سری

اندیس هر سطر

</div>

<div dir="rtl" align="right">

<a id="sec-4"></a>
<a id="sec-6"></a>
### ### ساختن یک سری:
اجزای یک سری شامل نام سری و مفادیر و اندیس
</div>

In [ ]:
ds_1=pandas.Series(("Bologna", "Catania", "Perugia"), name="città")
ds_2=pandas.Series({'città':["Bologna","Catania", "Perugia"]}) # it's a series but with just a
print(ds_1.info(), ds_2.info())

<div dir="rtl" align="right">

<a id="sec-5"></a>
<a id="sec-7"></a>
### ## 🔍 Differenza chiave:

<a id="sec-6"></a>
<a id="sec-8"></a>
### **ds_1**


>#### **Tipo di input:**
*   Tupla di valori (("Bologna", ...))

>#### **Risultato:**
*   Una Series con valori testuali e nome "città"

> #### **Output:**
*  Serie con 3 elementi separati


---


<a id="sec-7"></a>
<a id="sec-9"></a>
### **ds_2**

>#### **Tipo di input:**
*  Dizionario con una sola chiave ('città') e una lista come valore

>#### **Risultato:**
* Una Series con una sola riga, dove l'indice è 'città' e il valore è una lista

>#### **Output:**
 *  Serie con 1 elemento (una lista)




</div>

<div dir="rtl" align="right">

<a id="sec-8"></a>
<a id="sec-10"></a>
## اجزاء دیتافریم | درس دو  [↥ top](#top)

</div>

<div dir="rtl" align="right">

<a id="sec-9"></a>
<a id="sec-11"></a>
## pathlib استفاده از کتابخانه

<a id="sec-12"></a>
## برای سهولت استفاده از آدرس ها  [↥ top](#top)
</div>

In [ ]:
from pathlib import Path
#dpath=path("../data")
#df = pd.read_csv(dpath / "all-states-history.csv")


<div dir="rtl" align="right">

<a id="sec-10"></a>
<a id="sec-13"></a>
### ### دسترسی به اجزای دیتافریم:



</div>

1. index (RangeIndex(start=0, stop=3, step=1))

2. columns names (index class)

3. values

In [ ]:
print("df_1: ", df_1,end="\n..............\n",sep="\n")
print(".index: ",df_1.index,sep="\n\t")
print(".columns: ",df_1.columns,sep="\n\t")
print(".to_numpy(): ",df_1.to_numpy(),sep="\n\n")

<div dir="rtl" align="right">

#### pandas.index کلاس اصلی

#### pandas.rangeIndex کلاس اندیس ها، زیر مجموعه کلاس بالا

#### df_1.columns.__class__  آبجکتی از کلاسی که زیر مجموعه کلاس اول است

</div>

<div dir="rtl" align="right">

<a id="sec-11"></a>
<a id="sec-14"></a>
### بررسی کلاس ها و آبجکت های

#### .columns

#### .index

 
</div>

In [ ]:
print(issubclass(pandas.RangeIndex, pandas.Index))
print(issubclass(df_1.columns.__class__, pandas.Index))

<div dir="rtl" align="right">

<a id="sec-12"></a>
<a id="sec-15"></a>
### کار روی فایل csv

</div>

In [ ]:
import pandas
df_2= pandas.read_csv("all-states-history.csv")
print(df_2.head(1))

<div dir="rtl" align="right">

# 📘 نوع داده‌ها در پانداس و محاسبه فراوانی  

- پانداس به هر ستون یک **نوع داده (dtype)** اختصاص می‌دهد که با ویژگی `dtypes` قابل دسترسی است.  
<a id="sec-13"></a>
<a id="sec-16"></a>
### - نگاشت رایج:
  - `object` → رشته (string)  
  - `NaN` (Not a Number) → به صورت پیش‌فرض `float64` ذخیره می‌شود.  

<a id="sec-14"></a>
<a id="sec-17"></a>
### - در صورت **ترکیب داده‌های مختلف** در یک ستون:
  - رشته (string) نسبت به انواع دیگر غالب می‌شود.  
  - عدد اعشاری (float) نسبت به عدد صحیح (int) غالب می‌شود.  

---

<a id="sec-15"></a>
<a id="sec-18"></a>
## 🧮 محاسبه فراوانی مقادیر

<a id="sec-16"></a>
<a id="sec-19"></a>
### برای به دست آوردن فراوانی (Frequency) مقادیر در یک ستون از تابع value_counts استفاده می‌کنیم:

In [ ]:
#print(df_2.head())
#print(df_2.tail())
print(df_2.dtypes, "type: ",type(df_2.dtypes),sep="\n\t")
print(df_2.dtypes.value_counts(), "Type:", type(df_2.dtypes.value_counts()),sep="\n\t")

<div dir="rtl" align="right">

.info()✅

این یک فراخوانی متداست.

<a id="sec-17"></a>
<a id="sec-20"></a>
### خلاصه‌ای از اطلاعات دیتافریم را نمایش می‌دهد:

تعداد ردیف‌ها (entries)

نوع ایندکس (index)

نام ستون‌ها و نوع داده هر ستون

تعداد مقادیر غیر تهی (non-null)

میزان حافظه مصرفی (memory usage)

info() : type() .index + <Data columns (total 41 columns)> + dtypes() + <Non-Null Count> + <dtypes counts()> + ...

</div>

In [ ]:
print(df_2.info())

<div dir="rtl" align="right">

<a id="sec-21"></a>
## انتخاب تک ستون | درس چهار  [↥ top](#top)


</div>

<div dir="rtl" align="right">

الف: بیرون کشیدن سری با استفاده از نام آن به عنوان کلید

ب: بیرون کشیدن سری با استفاده از نام آن به عنوان اتریبیوت

</div>

In [ ]:
df_2["state"]
df_2.state

<div dir="rtl" align="right">

بیرون کشیدن قسمتی از یک یا چند سری با انتخاب سطر های خاص

</div>

In [ ]:
df_2.loc[:,"state"]
df_2.iloc[:,[1,2]].head()

<div dir="rtl" align="right">

<a id="sec-22"></a>
## خواندن و نوشتن | درس پنج  [↥ top](#top)

</div>

<div dir="rtl" align="right">

فایل  csv

</div>

In [ ]:
from pathlib import Path
dpath=Path(r"C:\Users\imana\Documents\Courses\Youtube-farsi")
#df = pandas.read_csv(dpath / "all-states-history.csv")
df=pandas.read_csv("all-states-history.csv")

<div dir="rtl" align="right">

نوشتن و خواندن فایل excel

df.to_excel(path="",index=T/F,sheet_name="")

</div>

In [ ]:
path_to_write="all-state-hostory.xlsx"
write_index=False
sheet_name="my_sheet"
df.to_excel(path_to_write,index=write_index,sheet_name=sheet_name)
pandas.read_excel(path_to_write,sheet_name="my_sheet").head(2)

<div dir="rtl" align="right">

چند تابع پرکاربرد | جلسه شش

</div>

<div dir="rtl" align="right">

به دست آوردن ابعاد(تعداد سطر و سری ها)

* df.shape

* df.info()

* len(df)

* df.size

* df["state"].size




</div>

In [ ]:
df.shape, type(df.shape)

In [ ]:
len(df), df.state.size, df["state"].size, type(len(df)), type(df.state.size)

<div dir="rtl" align="right">

<a id="sec-18"></a>
<a id="sec-23"></a>
### موارد زیر بیشتر برای داده های استرینگ کاربرد دارند:

پیدا کردن فراوانی هریک از مقادیر یک سری count

پیدا کردن توزیع هراوانی هر مقدار یک سری proportion



</div>

In [ ]:
count=df.state.value_counts()
proportion=df.state.value_counts(normalize=True)
print(count,proportion,sep="\n....................................\n")

<div dir="rtl" align="right">

<a id="sec-19"></a>
<a id="sec-24"></a>
### برخی دیگر از اطلاعات آماری:









</div>

پیدا کردن تعداد داده های غیر تهی در  یک ستون count  
min()  
max()  
mean()  
quantile()  
تشریح آماری مختصر یک ستون معمولا عددی describe()

In [ ]:
not_NaN_count=df.totalTestsViral.count()
min=df.totalTestsViral.min()
max= df.totalTestsViral.max()
mean=df.totalTestsViral.mean()
quantiles=df.totalTestsViral.quantile([0.1,0.3])
description=df.totalTestsViral.describe()
print(not_NaN_count,min, max, mean, quantiles, description, sep="\n.....................................\n")

<div dir="rtl" align="right">

<a id="sec-25"></a>
## انتخاب چند سری | درس هفت  [↥ top](#top)

</div>

<div dir="rtl" align="right">

برای بیرون کشیدن چند سری از یک دیتافریم، باید یک لیست از نام سری ها را به عنوان کلید به دیتافریم بدهیم

</div>

In [ ]:
df_1=df[["state", "death"]]
df_1.head()

<div dir="rtl" align="right">

<a id="sec-20"></a>
<a id="sec-26"></a>
### برای به دست آوردن فقط چند سطر دلخواه از تعدادی ستون دلخواه:

(دقت شود که در حال استفاده از اسلایس نیستیم و هر دو مفدار ابتدا و
انتهای شماره سطر ها در داده به عنوان خروجی لحاظ میشوند!)


</div>

In [ ]:
df_2=df.loc[:5,["state", "death"]] # rows: 0, 1, 2, 3, 4, 5 of columns "state", "death"
df_2
#df.loc[2:2], df.loc[2]
print(df.loc[2:2])
#print(df.iloc[2:3])

# type(  df.iloc[2]   )    #pandas.core.series.Series
# type(   )    #pandas.core.frame.DataFrame

<div dir="rtl" align="right">

به تفاوت استفاده از اندیس های سطر در
loc و iloc
در خروجی دقت کن

</div>

In [ ]:
df_3=df.iloc[:5,[1,2]]
df_3

<div dir="rtl" align="right">

<a id="sec-27"></a>
## عملگرها | درس هشت  [↥ top](#top)

</div>

<div dir="rtl" align="right">

میتوانیم عملگر های ریاضی را روی سری ها اعمال کنیم.
این کار در پانداس مثل این است که عملگر یا تابع موردنظر، در یک حلقه، روی همه ی رکوردهای آن سری به طور موازی اعمال شود
نکته مهم این است که اگر از عملگر ریاضی استفاده کنیم، باید عبارت را در درون پرانتز قرار دهیم. در غیر این صورت دیتافریم خالی بر میگرداند!

</div>

In [ ]:
df.death+1
df["death"]/df.death.max()
df.death.div(df.death.max())
df.death >= 100
df.death.ge(100)
df.state == "WA"
df.state.eq("WA")

<div dir="rtl" align="right">

همانطور که در مثال بالا دیدیم،
هر عملگر دارای یک تابع معادل است.
استفاده از توابع به ویژه زمانی معمول است که بخواهیم در یک خط، چندین عمل را یکی پس از دیگری روی سری انجام دهیم.

</div>

In [ ]:
df[df.death.ge(100) & df.state.eq("WA")][["death","state"]]

<div dir="rtl" align="right">

<a id="sec-28"></a>
## تغییر نام ستون‌ها | درس نه  [↥ top](#top)

</div>

<div dir="rtl" align="right">

تابع زیر یک دیکشنری یا یک تابع را به عنوان آرگومان دریافت میکند.
این دیکشنری از نام فعلی سری به عنوان کلید، و از نام جایگزین شونده به عنوان مقدار استفاده میکند.
تابع مذکور برای تغییر نام سری و همچنین اندیس سودمند است.
.rename(columns,index)
این تابع دیتافریم اصلی را تغییر نمیدهد، بلکه خروجی آن یک دیتافریم تازه است.

</div>

In [ ]:
df.rename(columns= dict(state="States")).head(1)
df.rename(columns={"state":"States"}, index={0:"first"}).head(2)
df.rename(index={i:i+1 for i in range(len(df))}).head(3)

In [ ]:
# یک تابع تعریف میکنیم:
def capitalize(value):
    return value.capitalize()
# حالا این تابع را یه عنوان آرگومان به تابع
# rename
# میفرستیم
df.rename(columns=str.upper).columns

<div dir="rtl" align="right">

<a id="sec-21"></a>
<a id="sec-29"></a>
### تابع زیر از یکی از سری ها به عنوان ایندکس استفاده میکند:
.set_index()

</div>

In [ ]:
df.rename(columns=dict(state="States")).set_index("States").rename(index={"AK": "Alaska"}).head(2)

<div dir="rtl" align="right">

<a id="sec-30"></a>
## حذف و اضافه کردن ستون | درس ده  [↥ top](#top)

</div>

<div dir="rtl" align="right">

برای افزودن یک ستون بر حسب اعتبار سنجی از یک سری دیگر در درون دیتافریم
سه روش در زیر آمده که سه کارکرد گوناگون دارند.

روش اول: دیتافریم اصلی را تغییر میدهد

روش دوم: دیتافریم جدیدی را به عنوان خروجی نمیدهد

روش سوم: محاسبات را به یک تابع میسپارد

</div>

In [ ]:
#1
df["death_to_positive"]=df.death/df.positive*100
#df.death_to_positive=df.death/df.positive*100 # اینطور کار نمی کند
df.iloc[1:3, [-2,-1]]

In [ ]:
#2
df.assign(death_to_positive2=df.death/df.positive*100).iloc[1:3,[-2,-1]]
df.iloc[1:3, [-2,-1]]

In [ ]:
#3
def gt_100(df):
    return df.death >= 100
df_1=df.assign(death_gt_100=gt_100)
df_1.loc[2:3, ["death","death_gt_100"]]

<div dir="rtl" align="right">

حذف یک سری

</div>

In [ ]:
print(df.drop("death_to_positive",axis="columns").iloc[:0,-1].name)
print(df.iloc[:0,[-2,-1]].columns)

<div dir="rtl" align="right">

<a id="sec-31"></a>
## درس یازده  [↥ top](#top)

</div>

<div dir="rtl" align="right">

select_dtypes: انتخاب سری ها بر اساس نوع داده

</div>

In [ ]:
print(  df.select_dtypes(include='object').head(2) )

print(  df.select_dtypes(include=("integer","object")).head(1)   )

print(  df.select_dtypes(include="number").head(1)    )

print(   df.select_dtypes(exclude="number").head(3)    )

<div dir="rtl" align="right">

filter(items,like,regex)

</div>

In [ ]:
print(    df.filter(items=("deth","state")).head(2) ,end="\n\n")
print(    df.filter(like="dat").head(2)    ,end="\n\n")
print(    df.filter(regex="[dD]eath").head(2)    )

<div dir="rtl" align="right">

<a id="sec-32"></a>
## حل مسئله | درس دوازده  [↥ top](#top)

</div>

<div dir="rtl" align="right">

![Testo alternativo](q.png)

</div>

In [ ]:
#1
import pandas
df=pandas.read_csv("iris.csv")
df.columns
df["sepal.length"].min() , df["sepal.length"].max()

In [ ]:
#2
#df.describe()
df["petal.length"].std()

In [ ]:
df.drop(index=6, axis='index').head(7)

In [ ]:
df.info()
df.head(1)
df.tail(1)

In [ ]:
df.dtypes

In [ ]:
df.assign(sepal=df["sepal.width"]*df["sepal.length"])

In [ ]:
len(df[(df["petal.width"]<1.5) & (df.variety=="Versicolor")])/len(df)*100
sum((df["petal.width"]<1.5)*(df.variety=="Versicolor"))/len(df)*100
sum((df["petal.width"]<1.5) & (df.variety=="Versicolor"))/len(df)*100

<div dir="rtl" align="right">



</div>

<div dir="rtl" align="right">

<a id="sec-33"></a>
## داده ناموجود | درس سیزده  [↥ top](#top)

</div>

<div dir="rtl" align="right">

دستورات زیر برای کار با داده های تهی استفاده میشوند"
df.isna()
df.fillna(value)
df.dropna(how="any"|"all")0

</div>

In [ ]:

import pandas
df=pandas.read_csv("all-states-history.csv")
print(df.isna())

In [ ]:
df.isna().sum()

<div dir="rtl" align="right">

fillna()
مقدار دیتافریم اوریجینال را تغییر نمیدهد

</div>

In [ ]:
df.fillna(0)

<div dir="rtl" align="right">

dropna()
با دو استراتژی اقدام به حذف سطر یا ستون هایی میکند که مقدار تهی در آنها یافت میشود، یا سرتاسر تهی هستند.
به طور پیش فرض،
axis=index

</div>

In [ ]:
df[["death","totalTestsAntibody"]].dropna(how="any")

In [ ]:
df[["death","totalTestsAntibody"]].dropna(how="all")

<div dir="rtl" align="right">

<a id="sec-34"></a>
## عبارت‌های شرطی | درس چهارده  [↥ top](#top)

عبارت های شرطی در پایتون و پانداس متفاوت نوشته میشوند

in python: and, or, not

در پایتون عبارت های شرظی روی یک یا دو آبجکت اعمال میشوند

in pandas: &, |, ~

در پانداس عملگر های شرطی روی یک یا دو سطر یا ستون اعمال میشوند


در پانداس عبارت های شرطی باید پرانتز بندی شوند

</div>

In [ ]:
criterion1 = df.death > 50
criterion2 = (df.state =="WA") | (df.state == "AZ")
condition = criterion1 & criterion2
print(condition)

<div dir="rtl" align="right">

نتیجه عبارت شرطی روی یک دیتافریم، یک سری با مقادیر ترو و فالس است.

</div>

<div dir="rtl" align="right">

برای شمارش سطرهای مشمول شرط و سطرهای غیر مشمول، از تابع شناخته شده خودمان استفاده میکنیم

</div>

In [ ]:
print(condition.value_counts())

<div dir="rtl" align="right">

پایتون دارای این قابلیت است که اگر یک سری شامل مقادیر ترو و فالس به تعداد سطر های دیتافریم را به آن بدهیم، سطر های دیتافریم را بر مبنای آن فیلتر میکند.

</div>

In [ ]:
df[condition].head(2)

In [ ]:
df[condition].shape

In [ ]:
df.shape

<div dir="rtl" align="right">

<a id="sec-35"></a>
## گروه‌بندی (groupby)| درس پانزده  [↥ top](#top)

</div>

<div dir="rtl" align="right">

سوال این است که میخواهیم آماری از کشته های هر ایالت داشته باشیم

</div>

<div dir="rtl" align="right">

با گروه بندی سه عملیات روی داده انجام میشود

داده را اسپلیت  میکند

عملیاتی روی داده انجام میدهد

نتایج را با هم ترکیب میکند

</div>

In [ ]:
df_1=df.groupby(["state"])["death"].sum()
df_1.sort_values(ascending=False)

In [ ]:
type(df_1)

<div dir="rtl" align="right">

<a id="sec-22"></a>
<a id="sec-36"></a>
### 🧠 Obiettivo di:

df.groupby("state").head(2)

→ Prendere le prime 2 righe da ogni gruppo formato dalla colonna "state".

<a id="sec-23"></a>
<a id="sec-37"></a>
### 🔢 Supponiamo di avere questo DataFrame:

</div>

In [ ]:
import pandas as pd

df_chatgpt = pd.DataFrame({
    'state': ['CA', 'CA', 'CA', 'NY', 'NY', 'NY', 'TX', 'TX', 'TX'],
    'value': [10, 15, 20, 30, 35, 40, 50, 55, 60]
})

<div dir="rtl" align="right">

<a id="sec-24"></a>
<a id="sec-38"></a>
### 🔍 E ora eseguiamo:

df.groupby("state").head(2)

<a id="sec-25"></a>
<a id="sec-39"></a>
### 🟢 Questo fa:

Gruppo "CA" → Prende le prime 2 righe: index 0 e 1

Gruppo "NY" → Prende le prime 2 righe: index 3 e 4

Gruppo "TX" → Prende le prime 2 righe: index 6 e 7

</div>

In [ ]:
df_chatgpt.groupby("state").head(2)

<div dir="rtl" align="right">

<a id="sec-26"></a>
<a id="sec-40"></a>
### 🔁 Quindi head(2) dentro a groupby("state") significa:

"***Per ogni stato, prendi solo le prime 2 righe del gruppo.***"

</div>

In [ ]:
df_chatgpt.groupby(["state"]).head(2).shape, df_chatgpt.shape, len(df_chatgpt.state.unique())

<div dir="rtl" align="right">

برای فهمیدن بهتر پشت پرده دستور گروه‌بندی، مثال‌های زیر توجه کن

</div>

In [ ]:
group=df.groupby(["state"])
print(group)

<div dir="rtl" align="right">

df.groupby(["state"])

این دستور داده های دیتافریم را بر اساس ستون مورد نظر گروهبندی میکند. یعنی ردیف هایی که ایالت یکسان دارند، در یک گروه قرار میگیرند.

پرینت آن فقط یک شی از نوع

GROUPBY

را چاپ میکند، نه خود داده ها را.

توجه کن که نوع داده یک دیتافریم نیست، بلکه گروهبندی است

</div>

In [ ]:
print(group.groups)

<div dir="rtl" align="right">

group.groups

 یک دیکشنری است که کلیدهای آن مقادیر یکتا در ستون گروه‌بندی شده هستند

و مقدار هر کلید لیستی از ایندکس (اندیس) ردیف‌هایی است که آن گروه را تشکیل می‌دهند

</div>

In [ ]:
print(group.get_group("NY")) # همه داده های گروه مربوط به فقط نیویورک را نشان می‌دهد

<div dir="rtl" align="right">

تابع
agg

<a id="sec-27"></a>
<a id="sec-41"></a>
### به من اجازه میدهد تا توابع گوناگونی را همزمان روی موضوع مورد نظرم اعمال کنم:

</div>

In [ ]:
import numpy as np
print(df.groupby(['state'])['death'].agg((np.sum,np.min,np.max,np.mean, np.size)))

<div dir="rtl" align="right">

<a id="sec-42"></a>
## کار با تاریخ | درس شانزده  [↥ top](#top)

</div>

In [ ]:
import pandas
df=pandas.read_csv("all-states-history.csv")

<div dir="rtl" align="right">

ساختن آبجکتی از نوع

panas.to_atetime(DataSeries) -> data Series

</div>

In [ ]:
df.dtypes
df_t=pandas.to_datetime(df.date) # input: a series, output: a Series
type[df_t]

<div dir="rtl" align="right">

استفاده از متد ها و اتریبیوت های کلاس دیت تایم

.year
.month
.day


</div>

In [ ]:
df.date=df_t
df.date.dt.year
df["date"].dt.month
df.date.dt.day
df.date.dt.weekday

<div dir="rtl" align="right">

افزودن ستو.ن هایی به دیتافریم با مقادیر سال و ماه و روزو شماره هفته

</div>

In [ ]:
df=df \
  .assign(year=df["date"].dt.year)\
  .assign(month=df.date.dt.month)\
  .assign(day=df.date.dt.day)\
  .assign(week=df.date.dt.isocalendar().week)

In [ ]:
df.iloc[:1,[-4,-3,-2,-1]]

<div dir="rtl" align="right">

در اینجا با بازگشت به مطالب قبل، از یک روش جالب برای انتخاب یک سمپل از دیتافریم استفاده میکنم

</div>

In [ ]:
import random
sample=random.sample(range(len(df)),k=3)
df.iloc[sample,-4:]

<div dir="rtl" align="right">

حالا میخواهم باز با استفاده از مطالب گذشته، ایندکس دیتافریم را به تاریخ بدل کنم.

علت: با این کار میتوانم از فیلتر هوشمندانه ای استفاده کنم

</div>

In [ ]:
df = df.set_index("date")

In [ ]:
df.loc["2021"]
df.columns
df.loc["2021"].groupby("state").hospitalized.sum()

<div dir="rtl" align="right">

<a id="sec-43"></a>
## حل مسئله | درس هفده  [↥ top](#top)

</div>

In [ ]:
import pandas
df=pandas.read_csv("Golem_Pandas_students.csv")

<div dir="rtl" align="right">

<a id="sec-28"></a>
<a id="sec-44"></a>
### تمرین:
ساختن یک ستون با مقادیر 0و1 برای مرد و زن

</div>

In [ ]:
df["is_male"]=1
df.loc[df["Gender"]=="Female", "is_male"]=0
df.loc[:3,["Gender", "is_male"]]

<div dir="rtl" align="right">

<a id="sec-29"></a>
<a id="sec-45"></a>
### Use condition in loc:



```
df.loc[df["Gender"] == "Female", "is_male"] = 0
```


→ for all rows where "Gender" is "Female", set "is_male" to 0.

</div>

<div dir="rtl" align="right">

<a id="sec-30"></a>
<a id="sec-46"></a>
### تمرین 2:

میخواهیم ستون نمرات را از عدد به دسته های  زیر تقسیم کنیم>

categories-condition

D:<50

C: >=50 and <70

B: >=70 and > 80

A: >=80

</div>

<div dir="rtl" align="right">

استفاده از تابع



```
numpy.select(condition-list, choice-list, default=0)
```
دیفالت باید یک داده باشد که نوع آن برای ساختن آرایه مهم است.



</div>

In [ ]:
conditions=(
    (df["college mark"] <50) ,
    (df["college mark"] >=50) & (df["college mark"] <70),
    (df["college mark"] >=70) & (df["college mark"] <80),
    (df["college mark"] >=80)
)
scores=("D","C","B","A")

In [ ]:
import numpy
df["college score"] = numpy.select(conditions,scores, default="D")# type("D"): string, the same as scores

In [ ]:
df.loc[:5,("college mark", "college score")]

<div dir="rtl" align="right">

<a id="sec-31"></a>
<a id="sec-47"></a>
### استفاده از تابع دیگر در خود پانداس:



```
pandas.cut(series,bins,labels,right,include_lowest)
```



</div>

In [ ]:
bins=(0,50,70,80,100)
labels=("D","C","B","A")
df["collegeScore"]=pandas.cut(df["college mark"],bins=bins, labels=labels, right=False, include_lowest=True)

In [ ]:
df.loc[:4, ["college mark", "college_score", "collegeScore"]]

<div dir="rtl" align="right">

<a id="sec-32"></a>
<a id="sec-48"></a>
### ###توضیح پارامترها:

```
bins = [0, 50, 70, 80, 100]
```


یعنی


```
0 ≤ mark < 50 → "D"

50 ≤ mark < 70 → "C"

70 ≤ mark < 80 → "B"

80 ≤ mark < 100 → "A"
```


```
labels = [...]
```



لیبل‌هایی که برای هر بازه می‌گذاری


```
<a id="sec-33"></a>
<a id="sec-49"></a>
### right=False:
```

یعنی سمت راست بازه شامل نمی‌شود

(مثلاً 50 شامل بازه‌ی دوم است، نه اول)

<a id="sec-34"></a>
<a id="sec-50"></a>
### ###💡 نکته امنیتی:


اگر نمره‌ای خارج از بازه‌ی 0 تا 100 باشه، مقدار

NaN خواهد بود

 می‌تونی

```
include_lowest=True
```



 رو هم اضافه کنی اگه بخوای مقدار 0 هم دقیقاً لحاظ شه



</div>