# ğŸ“ Ø¯Ø±Ø³ Û±: Ù…Ø¨Ø§Ù†ÛŒ Ù¾Ø§ÛŒØªÙˆÙ†
Ø¨Ù‡ Ø§ÙˆÙ„ÛŒÙ† Ø¬Ù„Ø³Ù‡ Ø®ÙˆØ´ Ø¢Ù…Ø¯ÛŒ! Ø§ÛŒÙ† Ø¬Ù„Ø³Ù‡ Ø¯Ø±Ø¨Ø§Ø±Ù‡â€ŒÛŒ Ù…Ø¨Ø§Ù†ÛŒ Ù¾Ø§ÛŒØªÙˆÙ† Ø§Ø³Øª.

## ğŸ”¹ Ú†Ø§Ù¾ Ù…ØªÙ† Ùˆ Ø®Ø±ÙˆØ¬ÛŒ Ú¯Ø±ÙØªÙ†

In [ ]:
print("Ø³Ù„Ø§Ù… Ø¨Ù‡ Ù¾Ø§ÛŒØªÙˆÙ† Ø®ÙˆØ´ Ø§ÙˆÙ…Ø¯ÛŒ!")

## ğŸ”¹ Ù…ØªØºÛŒØ±Ù‡Ø§ Ùˆ Ø§Ù†ÙˆØ§Ø¹ Ø¯Ø§Ø¯Ù‡

In [ ]:
name = "Ali"
age = 22
height = 1.75
is_student = True

print("Name:", name)
print("Age:", age)
print("Height:", height)
print("Is Student:", is_student)

## ğŸ”¹ Ø¹Ù…Ù„Ú¯Ø± Ø³Ø§Ø¯Ù‡ Ø±ÙˆÛŒ Ø¹Ø¯Ø¯

In [ ]:
months = age * 12
print("Age in months:", months)

## ğŸ“ ØªÙ…Ø±ÛŒÙ†
- ÛŒÚ© Ù…ØªØºÛŒØ± `country` ØªØ¹Ø±ÛŒÙ Ú©Ù† Ùˆ Ø§Ø³Ù… Ú©Ø´ÙˆØ±Øª Ø±Ùˆ ØªÙˆØ´ Ø¨Ø°Ø§Ø±.
- ÛŒÚ© Ù…ØªØºÛŒØ± `year` Ø¨Ø°Ø§Ø± Ú©Ù‡ Ø³Ø§Ù„ ØªÙˆÙ„Ø¯Øª Ø¨Ø§Ø´Ù‡.
- Ø­Ø§ØµÙ„ Ø¬Ù…Ø¹ `year + 100` Ø±Ùˆ Ø­Ø³Ø§Ø¨ Ú©Ù† Ùˆ Ú†Ø§Ù¾ Ú©Ù† (ÛŒØ¹Ù†ÛŒ Ú†Ù‡ Ø³Ø§Ù„ÛŒ Û±Û°Û° Ø³Ø§Ù„Ù‡ Ù…ÛŒâ€ŒØ´ÛŒ).